/* generic css & mobile-first, therefore elements will expand to fit edge to edge (with padding) of the browser screen */

body {
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
    font-family: sans-serif;
}

h1 {
    padding: 48px;
}

header,
footer {
    background-color: #115194;
    margin-bottom: 24px;
}

nav {
    background-color: #4bb19d;
    padding: 16px;
}

.banner {
    background-color: #b8bac3;
    padding: 288px 0;
    margin-bottom: 24px;
}

.promo {
    background-color: #b0d892;
    padding: 128px 0;
    margin-bottom: 24px;
}

footer {
    padding: 48px 0;
}